body{
	margin: 0;
	background: url('../img/login.png') no-repeat;
	font-size: 1em;
}

.login-ctrls{
	position: absolute;
	z-index: 7;
	left: 55px;
	text-align: left;

}
#userName{
    top: 854px;
    width: 600px;
    height: 97px;
    font-size: 2.5em;
    font-style: italic;
    border: 0px;
    line-height: 2.5em;
}

#pwd{
	top:1044px;
	width: 600px;
    height: 97px;
    font-size: 2.5em;
    font-style: italic;
    border: 0px;
    line-height: 2.5em;
}

input[type="text"]:focus, input[type="password"]:focus,input{
    outline:none;
    box-shadow: none !important;


}
#btn-submit{
	
    top: 1366px;
    height: 155px;
    width: 877px;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    
}

#asset{
	background: url('../img/assest-iphone.jpg') no-repeat;
}


#vin{
	background: url('../img/vin.png') no-repeat ;
	}
#add-It{
    top: 1446px;
    height: 131px;
    width: 200px;
    left: 733px;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    background: url('../img/plus.gif') no-repeat;
    border: none;
    cursor: pointer;

}
/*Car Loan*/
#car-loan{
    background: url('../img/loansOnCar1.jpg') no-repeat ;
}
#loan-chkbox{
    position: absolute;
    top: 636px;
    left: 339px;
    font-size: 2.5em;
}
.chk-size{
    width: 4em;
    height: 3em;
}
#loan-btn{
    top: 1422px;
    height: 131px;
    width: 90%;
    left: 57px;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    background-color: #0061C5;
    border: none;
    cursor: pointer;
    color: #FFF;
}
#loan-container{
    position: absolute;
    top: 779px;
    width: 12em;
    left: 535px;

}
#loan-container input{
    height: 2em;
    width: 9em;
    font-size: 2.5em;
    border: none;
    color: gray;

}
#loan-start-date {
    
}
#loan-end-date {
    position: relative;
    top: 100px;
}
#loan-amt {
    position: relative;
    top: 166px;
}
#monthly-payment {
    position: relative;
    top: 256px;

}
/*Car Equity*/
#car-equity{
    background: url('../img/carequity1.png') no-repeat ;
}