<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="..\css\main.css">
</head>
<body id="car-loan">
<form method="post" action="carequity.html">
	<div >
		<div id="loan-chkbox">
			<label class="radio-inline">
				<input type="radio" required name="loan-chkbox"id="loan-yes" class="chk-size"value="yes"> Yes
				<input type="radio" required name="loan-chkbox"id="loan-no" class="chk-size" value="no"> No
			</label>
			
		</div>
		<div id="loan-container" >

 	   		<input type="date" id="loan-start-date"required placeholder="when">
 	   		<input type="date" required id="loan-end-date" placeholder="when">
 	   		<input type="number" required id="loan-amt" placeholder="$$">
 	   		<input type="number" required id="monthly-payment" placeholder="$$">
 	
		</div>

 		<button type="submit" class=" login-ctrls btn btn-primary index  active " id="loan-btn">SUBMIT</button>
 	   
 	
	</div>

</form>

</body>


<html>